<div class="related-post-container">
  <div class="related-post-title">Related post:</div>
  <div class="related-post">
    <% relatedPosts.forEach((relatedPost) => { %>
    <div class="post-card">
      <a class="post-title" href="/post/<%= relatedPost.url %>">
        <%= relatedPost.title %>
      </a>
      <div class="post-date-and-author">
        <div>
          <a class="post-date">
            <%= moment(relatedPost).format('MMM DD, YYYY') %>
          </a>
        </div>
        <div>
          <a class="author" href="../author/<%= relatedPost.author.username %>">
            <%= relatedPost.author.displayName %>
          </a>
        </div>
      </div>
      <div class="related-post-content">
        <span class="content">
          <%- relatedPost.content.replace(/<.*?>/g,'').slice(0,50) %>
        </span>
        <span class="read-more">
          <a href="<%= relatedPost.url %>">Read More...</a>
        </span>
      </div>
    </div>
    <div class="post-divider"></div>
    <% }); %>
  </div>
  <div class="post-divider"></div>
</div>
