<div class="sidebar">
  <div class="sidebar-container">
    <div>
      <div class="title"><span>Recent Posts</span></div>
      <div class="sidebar-contents" id="sidebar-recent-posts">
        {{#each sidebar.recentPosts}}
          <a href="/post/{{this.url}}">{{this.title}}</a>
        {{/each}}
      </div>
    </div>
    <div>
      <div class=" title"><span>Categories</span></div>
      <div class="sidebar-contents" id="sidebar-category">
        {{#each sidebar.categories}}
          <a href="/category/{{this.url}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>
    <div>
      <div class="title"><span>Tags</span></div>
      <div class="sidebar-contents" id="sidebar-tag">
        {{#each sidebar.tags}}
          <a href="/tag/{{this.url}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>